<div class="container-fluid">
  <h1 class="m-4 titleAlign"> Admin Dashboard </h1>

  <div class="container">
    <div class="row">

      <div class="col-sm">
        <div class="card adminCardBackgroundColor mb-3 border-primary">
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-sm d-flex justify-content-center align-items-center">
                <i class="fas fa-user-friends fa-5x"></i>
              </div>
              <div class="col-sm">
                <div class="adminNumber text-center"> <%= numRegistered %> </div>
                <div class="adminCardTitle text-center"> Applicants Registered </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm">
        <div class="card adminCardBackgroundColor mb-3 border-primary">
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-sm d-flex justify-content-center align-items-center">
                <i class="fas fa-money-check-alt fa-5x"></i>
              </div>
              <div class="col-sm">
                <div class="adminNumber text-center"> <%= numRegistered %> </div>
                <div class="adminCardTitle text-center"> Total <br> Payments </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card adminCardBackgroundColor mb-3 border-primary">
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-sm d-flex justify-content-center align-items-center">
                <i class="fas fa-utensils fa-5x"></i>
              </div>
              <div class="col-sm">
                <div class="adminNumber text-center"> Food</div>
                <div class="adminCardTitle text-center"> <%= numVegetarians %> Regular </div>
                <div class="adminCardTitle text-center"> <%= numNonVegetarians %> Vegetarian </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-sm">
        <div class="card adminCardBackgroundColor mb-3 border-primary">
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-sm d-flex justify-content-center align-items-center">
                <i class="fas fa-user-friends fa-5x"></i>
              </div>
              <div class="col-sm">
                <div class="adminNumber text-center"> <%= numRegistered %> </div>
                <div class="adminCardTitle text-center"> Applicants Registered </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm">
        <div class="card adminCardBackgroundColor mb-3 border-primary">
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-sm d-flex justify-content-center align-items-center">
                <i class="fas fa-money-check-alt fa-5x"></i>
              </div>
              <div class="col-sm">
                <div class="adminNumber text-center"> <%= numRegistered %> </div>
                <div class="adminCardTitle text-center"> Total Payments </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>