<div class="container-fluid attendeeInfoTablePadding">
  <h1 class="m-4 text-center"> Applications </h1>

  <div class="d-flex flex-column justify-content-center align-items-center table-responsive">
    <table class="table table-bordered table-striped table-sm text-center table-responsive">
      <thead class="thead-dark">
        <tr>
          <% for (var i = 0; i < fieldNames.length; i++) { %>
          <th scope="col"><%=fieldNames[i] %> </th>
         
          <% } %>
        </tr>
      </thead>
      <tbody >
        <% for (var i = 0; i < tempArray.length; i++) { %>
        <tr>
          <td> <%= tempArray[i].element3[0].firstName %> </td>
          <td> <%= tempArray[i].element3[0].lastName %> </td>
          <td> <%= tempArray[i].element3[0].email %> </td>
          <td> <%= tempArray[i].element3[0].phoneNumber %> </td>
          <td> <%= tempArray[i].element3[0].school %> </td>
          <td> <%= tempArray[i].element3[0].otherSchool %> </td>


          <td> <%= tempArray[i].element3[0].pronouns %> </td>
          <td> <%= tempArray[i].element3[0].dateOfBirth %> </td>
          <td> <%= tempArray[i].element3[0].major %> </td>

          <td> <%= tempArray[i].element3[0].EMName %> </td>
          <td> <%= tempArray[i].element3[0].EMPhoneNumber %> </td>
          <td> <%= tempArray[i].element3[0].medicalConditions %> </td>
          <td> <%= tempArray[i].element3[0].allergies %> </td>
          <td> <%= tempArray[i].element3[0].dietaryRestrictions %> </td>
          <td> <%= tempArray[i].element3[0].tshirtSize %> </td>
          <td> <%= tempArray[i].element3[0].gainFromConference %> </td>
          <td> <%= tempArray[i].element3[0].allowAuthorization %> </td>
          <td> <%= tempArray[i].element3[0].roommatePreferenceName %> </td>
   
          <td> <%= tempArray[i].element3[0].neat %> </td>
          <td> <%= tempArray[i].element3[0].cleanliness %> </td>
          <td> <%= tempArray[i].element3[0].typeOfSleeper %> </td>
          <td> <%= tempArray[i].element3[0].snore %> </td>

          <td> <%= tempArray[i].element3[0].genderPreference %> </td>
          <td> <%= tempArray[i].element3[0].sleepTime %> </td>
          <td> <%= tempArray[i].element3[0].ACPreference %> </td>
          <td> <%= tempArray[i].element3[0].noiseLevel %> </td>
          <td> <%= tempArray[i].element3[0].noisePreference %> </td>
          <td> <%= tempArray[i].element3[0].petPeeve %> </td>

        </tr>
        <% } %>
      </tbody >

    </table>
  </div>
</div>